<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sinh viên</title>
</head>
<body>

<h2>DANH SÁCH SINH VIÊN</h2>

<a th:href="@{/students/add}">Thêm sinh viên</a>

<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Họ tên</th>
        <th>Tuổi</th>
        <th>Email</th>
        <th>Hành động</th>
    </tr>

    <tr th:each="sv : ${students}">
        <td th:text="${sv.id}"></td>
        <td th:text="${sv.name}"></td>
        <td th:text="${sv.age}"></td>
        <td th:text="${sv.email}"></td>
        <td>
            <a th:href="@{/students/edit/{id}(id=${sv.id})}">Sửa</a> |
            <a th:href="@{/students/delete/{id}(id=${sv.id})}"
               onclick="return confirm('Xóa sinh viên này?')">Xóa</a>
        </td>
    </tr>
</table>

</body>
</html>
